* {
    font-family: Georgia, Times, serif;
	color: #333;
}
body {
	margin: 0;
}
div.module {
	margin-bottom: 40px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 20px;
	box-shadow: 0 -1px 1000px #eee;
}
body > h1 {
	padding: 20px;
	font-size: 10em;
	color: #ddd;
	height: 50px;
	overflow: hidden;
	line-height: 50px;
	white-space: nowrap;
	margin: 0;
}
body > h2 {
	font-size: 1em;
	margin: 0;
	padding: 0 40px;	
	position: relative;
	top: -20px;
}
div.module h1,
div.module h2,
div.module h3,
div.module h4 {
	font-weight: lighter;
	margin: 0 0 5px;
	clear: both;
}
div.module h1 b {
	font-weight: bold;
}

div.module span.circle {
	background: #eee;
	padding: 5px 10px;	
	border-radius: 100px;
}
div.module h1 sup {
	font-size: 0.6em;
	margin-left: 10px;
	color: #fff;
	background: #777;
	padding: 5px 10px 5px 30px;	
	border-radius: 100px;	
}
div.module h1 sup.day {
	background: #aaa url(day.png) no-repeat 10px center;
}
div.module h1 sup.hour {
	background: #aaa url(hour.png) no-repeat 10px center;
}
div.module h1 sup.min {
	background: #38f url(min.png) no-repeat 10px center;
}
div.module h1 sup.max {
	background: #f83 url(max.png) no-repeat 10px center;
}
div.module p {
	float: left;
	font-size: 0.75em;
	color: #777;
	margin-right: 10px;
}
p.footer {
	font-size: 0.75em;
	color: #777;
	line-height: 100px;
	text-align: center;
}
p.footer img {
	height: 50px;
	position: relative;
	top: 20px;
}